@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-custom {
    @apply container mx-auto px-4 md:px-6 lg:px-8;
  }
}


/* app/globals.css */
/* main {
  padding-top: 5rem; 
  
}

@media (min-width: 1024px) {
  main {
    padding-top: 6rem; 
  }
} */

/* في globals.css */
:root {
  --ring: 0 0% 0%; /* تغيير لون الـ ring للأسود */
}

/* أو إضافة هذا الكود */
[data-radix-select-content] [data-state="checked"] {
  background-color: #e5e7eb !important;
  color: black !important;
}

/* status colors */
.status-pending {
  background-color: #A0AEC03D;
  color: #A0AEC0;
}
.status-processing {
  background-color: #ED89363D;
  color: #ED8936;
}
.status-ready {
  background-color: #9F7AEA3D;
  color: #9F7AEA;
}
.status-delivering {
  background-color: #F6AD553D;
  color: #F6AD55;
}
.status-delivered {
  background-color: #48BB783D;
  color: #48BB78;
}
.status-cancelled {
  background-color: #F565653D;
  color: #F56565;
}

.page-with-padding {
  padding-top: 5rem; /* 80px */
}

@media (min-width: 1024px) {
  .page-with-padding {
    padding-top: 6rem; /* 96px */
  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-out forwards;
}



/* app/globals.css */

 @media (maxWidth: 640px){
.custom-width-192{
  width: 150px;
  height: 150px;
}
 }